<!-- start widget -->
<div class="widget">
	{{#get "posts" limit="3" as |recents|}}
	<h4 class="h5 title">
		<span>Recent Post</span>
	</h4>
	{{#foreach recents}}
	<div class="content recent-post">
		<div class="recent-single-post clearfix have-image">
			<a href="{{url}}" class="post-title">
				<div class="post-thumb pull-left" style="background-image:url({{feature_image}})"></div>
				<div class="post-info">
					<h4 class="h5">{{title}}</h4>
					<div class="date">
						<i class="fa fa-calendar-o"></i> {{date format="MMM DD, YYYY"}}</div>
				</div>
			</a>
		</div>
	</div>

	{{/foreach}} {{/get}}

</div>
<!-- end widget -->
